.current-search-container{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  width: 100%;
}

.add-button{
  cursor: pointer;
  transition: all ease 0.5s;
  &:hover{
    transform: scale(1.4);
    color: green;
  }
}