

  $border-size: 0.125rem;
  $duration: 250ms;
  $ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  $font-family: monospace;
  $color-primary: white;
  $color-secondary: blue;
  $color-tertiary: black;
  $shadow: rgba(0, 0, 0, 0.1);
  $space: 1rem;

.page-layout{
  display: flex;
  flex-direction: column;
  gap:4rem
}
.work-out-gen{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  transform-origin: 80% 0%;
  transition: all 0.5s linear;
}
.shrink{
  transform: scale(0);
  max-height: 1px;
}
.work-out-container-difficulty{
  display: flex;
  width: 35rem;
  box-shadow: $shadow 4px 4px;
}
.work-out-container-type{
  display: flex;
  width: 35rem;
  box-shadow: $shadow 4px 4px;
}
.button::before {
  content: attr(data-text); 
  position:absolute;
  font-size: 1rem;
 
  top:100%;
  transform:translate(0%, -130%);
  z-index: 10;
  /* basic styles */
  width:250px;
  padding:10px;
  border-radius:10px;
  background:$color-primary;
  color: $color-tertiary;
  text-align:center;

  display:none; /* hide by default */
}
.button:hover::before {
  display:block; /* show on hover */
}
.button{
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc($space / 1.125)
    $space
    $space;
  border: $border-size solid blue;
  color: $color-tertiary;
  background-color: $color-primary;
  font-size: 1.5rem;
  font-family: $font-family;
  text-shadow: $shadow 2px 2px;
  transition: flex-grow $duration $ease;
}

.work-out-container-type .button + button {
  border-left: $border-size solid blue;
  margin-left: calc($border-size * -1);
}
.button:hover,
.focus {
  flex-grow: 2;
  cursor: pointer;
  position: relative;
  padding:
    calc($space / 1.125)
    $space
    $space;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: $color-secondary;
  font-size: 1.5rem;
  font-family: $font-family;
  text-shadow: $shadow 2px 2px;
  transition: flex-grow $duration $ease;
}
.focus {
  outline: $border-size dashed $color-primary;
  outline-offset: calc($border-size * -3);
}
.work-out-container-type:hover  .focus:not(:hover) {
  flex-grow: 1;
  color: $color-tertiary;
  background-color: $color-primary;
  outline-color: $color-tertiary;
}
.work-out-container-type .button:active {
  transform: translateY($border-size);
}

.work-out-container-difficult .button + button {
  border-left: $border-size solid blue;
  margin-left: calc($border-size * -1);
}
.button:hover,
 .focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: $color-secondary;
}
.focus {
  outline: $border-size dashed $color-primary;
  outline-offset: calc($border-size * -3);
}
.work-out-container-difficulty:hover  .focus:not(:hover) {
  flex-grow: 1;
  color: $color-tertiary;
  background-color: $color-primary;
  outline-color: $color-tertiary;
}
.work-out-container-difficulty .button:active {
  transform: translateY($border-size);
}

.work-out-buttons{
  display: flex;
  width: 35rem;
  justify-content: center;
}
.reset{
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc($space / 1.125)
    $space
    $space;
  border: $border-size solid blue;
  color: $color-secondary;
  background-color: $color-primary;
  font-size: 1.5rem;
  font-family: $font-family;
  text-shadow: $shadow 2px 2px;
  
  transition: width ease-in 0.3s;
}


.reset:active {
  transform: translateY($border-size);
}
.reset:hover{
  color: white;
  outline: none;
  text-shadow: none;
  background-color: rgb(228, 83, 83); 
  transition: width ease-in 0.3s;
}
.submit{
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc($space / 1.125)
    $space
    $space;
  border: $border-size solid blue;
  color: $color-tertiary;
  background-color: $color-primary;
  font-size: 1.5rem;
  font-family: $font-family;
  text-shadow: $shadow 2px 2px;
  
  transition: width ease-in 0.3s;
}
.submit:active {
  transform: translateY($border-size);
}
.submit:hover{
  color: white;
  outline: none;
  text-shadow: none;
  background-color: $color-secondary;
  transition: width ease-in 0.3s;
  
}

.work-out-container-muscle{
  position: relative;
  padding:
    calc($space / 1.125)
    $space
    $space;
  border: $border-size solid blue;
  color: $color-tertiary;
  background-color: $color-primary;
  font-size: 1.5rem;
  font-family: $font-family;
  text-shadow: $shadow 2px 2px;
  width: 35rem;
  
}
.work-out-container-muscle:hover{
  background-color: $color-secondary;
  color: $color-primary;
}
.work-out-search-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  >svg{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    transition: all ease 0.5s;
  }
  >svg:hover {
    color: gray;
  }
}
.work-out-flipper{
  transform: rotate(180deg);
  transition: all ease 0.5s;
}

// .tooltip,.tooltip *{
//   color: $color-secondary;
//   background-color: $color-primary;
// }